<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jwt.user.UserMapper">

    <insert id="insUser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user
           SET email = #{email}
             , pw = #{pw}
             , name = #{name}
    </insert>

    <insert id="insUserRole">
        INSERT INTO user_role
        (user_id, role)
        VALUES
        <foreach collection="roles" item="item" separator=",">
            (#{id}, #{item})
        </foreach>
    </insert>

    <resultMap id="selUserWithRolesResultMap" type="com.green.jwt.user.model.UserSelOne">
        <id property="id" column="id" />
        <result property="email" column="email" />
        <result property="pw" column="pw" />
        <result property="name" column="name" />
        <collection property="roles" ofType="com.green.jwt.config.jwt.UserRole">
            <id property="role" column="role" />
        </collection>
    </resultMap>



    <select id="selUserWithRoles" resultMap="selUserWithRolesResultMap">
        SELECT A.id, A.email, A.pw, A.name, B.role
          FROM user A
         INNER JOIN user_role B
            ON A.id = B.user_id
         WHERE A.email = #{email}
    </select>
</mapper>